# Python Basic Assignment

Assignment_1

1. In the below elements which of them are values or an expression? eg.values can be integer or string and expression will
   be mathematical operators.
    
Ans :
    
 *      : Expression(mathematical operator)
    
'hello' : Values(String which is under in single quote)
    
-87.8   : Values(Floting point number)
    
  -     : Expression(mathematical operator)
    
  +     : Expression(mathematical operator)
    
  6     : Value(integer)

2 - What is the difference between string and variable?

Ans:
    
    String(str) = String is a one of the data type which hold the data in single quote('') or double quote("") 
             or triple quote(''' ''').
        
    Variable =  A variable in python defined through assgnment operator(=). Store any kind of element like int /
               float/ completx etc.
               e.g  a = 10 [ here data is 10 and i have assign 10 to a variable name a  which is holding the data in memory]

3. Describe three different data types.

Ans:
    
Integers - Integer are created by any number without decimal or complex component.
           e.g 1,2,3,4,5,6,7,8 .etc
           a = 12
           type(a) = <class int>
            
list    - list is a collection hetrogenius data type , Normally we can say it is a container which is hold any
          type of data under in Square Bracket[]
          e.g l = [1,2,3,5.5,8+5j,"Hello"]
        
string  - String is a one of the data type which hold the data in single quote('') or double quote("") 
          or triple quote(''' ''').
          
         eg . a = "hello this my first assignment"

4. What is an expression made up of? What do all expressions do?

Ans: 
    
Expression is the combinaton of mathematical operators, variables. Using methematical operator we 
produce express our problem.

Expression  is used to produre result.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans:
    
    
Expression is made up of values, containers, and mathematical operators and the 
statement is just like a command that a python interpreter executes like print.

6. After running the following code, what does the variable bacon contain?

bacon = 22
bacon + 1

Ans : Bacon variable contain 23 after the excution

In [9]:
bacon = 22
bacon +1

23

7. What should the values of the following two terms be?


'spam' + 'spamspam'
'spam' * 3

Ans :
    
'spam'  +'spamspam' = 'spamspamspam'
'spam'*3 = 'spamspamspam'

In [23]:
'spam'  +'spamspam'

'spamspamspam'

In [24]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Ans : In python variable name must start with alphabatics or (_) name.
     e.g are below why egg is valid and 100 is not valid

In [25]:
egg = 10

In [27]:
100 = "hello"

SyntaxError: cannot assign to literal (<ipython-input-27-984c1051b329>, line 1)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans :
    
int()
float()
str()

these function we can used to get the integer and floating-point number or string version of the value

10. Why does this expression cause an error? How can you fix it?


'I have eaten ' + 99 + ' burritos.'


Ans : Only concatinate same type of data type, but here i have typecaste the str(99). 

#Error
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

#Fix
'I have eaten'+ str(99) + 'burritos'

'I have eaten99burritos'

In [28]:
#Error
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [29]:
#Fix
'I have eaten'+ str(99) + 'burritos'

'I have eaten99burritos'

In [30]:
#End