# Assignment_04

01

 What exactly is []?

Ans :
    
This is the list symbol containertype look like. list represent an ordered , mutable  collection of object.

list is the hetrogenius type of data type which can contain any type of data 

eg. integer, complex , string , tuple .

[1,2,3,4,5,6.6,5+8j,"hello"]

02

In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? 

(Assume [2, 4, 6, 8, 10] are in spam.)

Ans:

In [2]:
spam = [2,4,6,8,10]
spam.insert(3,'hello')  #--------Use insert function to store the data
print(spam)

[2, 4, 6, 'hello', 8, 10]

03

What is the value of spam[int(int('3' * 2) / 11)]?

Ans : 'd'

In [2]:
spam = ['a','b','c','d']
spam[int(int('3'*2)/11)]

'd'

04

What is the value of spam[-1]?

In [12]:
Ans: 'd'

In [13]:
spam[-1]

'd'

05

What is the value of spam[:2]?

In [14]:
Ans : "c"

In [3]:
spam[:2]

['a', 'b']

06

What is the value of bacon.index('cat')?

list[3.14 , 'cat' , 11 , 'cat' , True]

Ans : Index function give index number first occurence of the  value

In [16]:
bacon = [3.14 , 'cat' , 11 , 'cat' , True]
bacon.index('cat')

1

07

How does bacon.append(99) change the look of the list value in bacon?

Ans: Append add the data at the tail position.

In [18]:
bacon = [3.14 , 'cat' , 11 , 'cat' , True]
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

08

How does bacon.remove('cat') change the look of the list in bacon?

Ans:  Remove first occurence of value

In [21]:
bacon = [3.14 , 'cat' , 11 , 'cat' , True]
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True]

09

What are the list concatenation and list replication operators?

Ans:

Replication operators(*) : When * is used with an integer it performs multiplication 
                       
                          but with list, tuple or strings it performs a repetition.
            
Concatenation operators(+): Concatenation is done by + operator when both data type is same.

In [24]:
#List concatenation
l = [1,2,3,4,5]
l1= [6,7,8,9,10]
l+l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
#List Replication 
l2 = ['a' ,'b', 'c']

l2*2

['a', 'b', 'c', 'a', 'b', 'c']

10

What is difference between the list methods append() and insert()?

Ans:

Append : Append method we use for add the data or element in the existing list at the tail position.
    
insert : insert method we use for add tha data or element at particlar index.

In [36]:
#Append

l = [1,2,3,4,5]
l.append('hello')
l

[1, 2, 3, 4, 5, 'hello']

In [38]:
#Insert

l1 = [1,2,3,4,5]
l1.insert(3,'hello')    #--------insert(indext,object)
l1

[1, 2, 3, 'hello', 4, 5]

11

What are the two methods for removing items from a list?

Ans:

There are two method for removing the items from the list.

1- remove()

2 - pop()

In [40]:
#remove

l = [5,4,5,7,8,6]
l.remove(5)   #-------remove only first occurece of value
l

[4, 5, 7, 8, 6]

In [42]:
#pop()

l = [5,4,7,8,9]
l.pop(2)  # ------remove item by giving index number but default remove -1 postion.

7

12

Describe how list values and string values are identical.

Ans:

List and String both have ordered collection or squence except list it can contain different data types.

13

What's the difference between tuples and lists?

Ans:

We can store the same kind of data in list and tuple but major difference is this,

List is mutable entity and tuples is immutable entity.

In [8]:
#list Muatable example
l = [1,2,3,4,5]
l[0] = "hello"   #-------This is call mutable entity we can update the data or element on index basis
print(l)

['hello', 2, 3, 4, 5]

In [9]:
#tuple Immuatable example
t = (1,2,3,4,5)
t[0] = "hello" #---'tuple' object does not support item assignment
print(t)

TypeError: 'tuple' object does not support item assignment

14

How do you type a tuple value that only contains the integer 42?

Ans : If we have single integer in that case we can give comma after the interger

In [10]:
t = (42,)
type(t)

tuple

15

How do you get a list value's tuple form? How do you get a tuple value's list form?

Ans: Using typecasting we can do that

In [12]:
l = [1,2,3,4,5]
print(l)
a = tuple(l)
print(type(a))
print(a)

[1, 2, 3, 4, 5]
<class 'tuple'>
(1, 2, 3, 4, 5)

16

Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Ans: it just a name reference because of list itself is a object

In [14]:
l = [1,2,3,4,5]
type(l)

list

17

How do you distinguish between copy.copy() and copy.deepcopy()?

Ans:

deepcopy does not change original object if in future we change deepcopied object.

where as original object changes with copy()